.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: -100px;
  background-color: #1f1c29;
  min-width: 350px;
  width: fit-content;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
  z-index: 1;
  border-radius: 5px;
}

.cart-message {
  height: 65px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
