@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;600;500;700;800&display=swap");
$ANIMATION_DURATION: 1s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1c29;
  font-family: "Tajawal", sans-serif;
  color: #fff;
  height: 4500px;
  overflow-x: hidden;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #1f1c29; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.6s;
  color: var(
    --home-text
  ); /* 0.5 second transition effect to slide in the sidenav */
}

.side-content {
  padding: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

//   * When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  padding-top: 15px;
  cursor: pointer;
}

.open-side {
  width: 400px;
}

// Fade In Left
//--------------------------------//
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    -o-transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.u--fadeInLeft {
  -webkit-animation: fadeInLeft $ANIMATION_DURATION ease-in;
  -moz-animation: fadeInLeft $ANIMATION_DURATION ease-in;
  -o-animation: fadeInLeft $ANIMATION_DURATION ease-in;
  animation: fadeInLeft $ANIMATION_DURATION ease-in;
}

// Fade In Right
//--------------------------------//
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -o-transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.u--fadeInRight {
  -webkit-animation: fadeInRight $ANIMATION_DURATION ease-in;
  -moz-animation: fadeInRight $ANIMATION_DURATION ease-in;
  -o-animation: fadeInRight $ANIMATION_DURATION ease-in;
  animation: fadeInRight $ANIMATION_DURATION ease-in;
}

.Trending,
.our-products,
.News,
.feed {
  position: relative;
  top: 500px;
  h2 {
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
    font-size: 48px;
  }
}

.Trending,
.our-products {
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    margin-top: -65px;
  }

  .swiper-button-prev {
    margin-left: -8px;
  }

  .swiper-button-next {
    margin-right: -8px;
  }
}

.our-products {
  margin-top: 200px;
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  .open-side {
    width: 95%;
  }
  .Trending,
  .our-products,
  .News,
  .feed {
    h2 {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .Trending,
  .our-products,
  .News,
  .feed {
    h2 {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .Trending,
  .our-products,
  .News,
  .feed {
    h2 {
      font-size: 36px;
    }
  }
}


